Repository autowarefoundation/AWSIM-Labs, pull requests merged in 2024-04, with the labels that each got.

#36 fix: small bugfixes
  Assets/AWSIM/Prefabs/Sensors/CameraSensor.prefab
  Assets/AWSIM/Scenes/Main/AutowareSimulation.unity
  Assets/AWSIM/Scripts/Editor/RandomTraffic/Environments/TrafficLaneEditor.cs
  Assets/AWSIM/Scripts/UI/EgoVehiclePositionManager.cs
  Assets/AWSIM/Scripts/UI/HotkeyHandler.cs
  Assets/AWSIM/Scripts/Vehicles/Vehicle.cs
  Assets/AWSIM/Scripts/Vehicles/VehicleKeyboardInput.cs
  Packages/manifest.json
  Packages/packages-lock.json
Labels: bug

#43 ci: deploy docs on tag
  .github/workflows/documentation_generation.yml
Labels: tag:deploy-docs

#44 ci: fix deploy-docs requirements
  .github/workflows/documentation_generation.yml
  mkdocs-requirements.txt
Labels: tag:deploy-docs

#42 docs: update branding
  README.md
  docs/DeveloperGuide/HowToContribute/index.md
  docs/E2ESim.png
  docs/GettingStarted/QuickStartDemo/index.md
  docs/Introduction/AWSIM/index.md
  docs/Introduction/CombinationWithAutoware/index.md
  docs/ProjectGuide/HotkeyList/index.md
  docs/assets/css/extra.css
  docs/assets/images/E2ESim.png
  docs/assets/images/autoware-foundation.png
  docs/assets/images/awsim-labs-logo.png
  docs/assets/js/mathjax.js
  docs/index.md
  mkdocs.yml
Labels: documentation, tag:deploy-docs

#56 feat: update lighting and mats
  Assets/AWSIM/Models/Vehicles/Lexus RX450h 2015/Materials/BreakLight.mat
  Assets/AWSIM/Models/Vehicles/Lexus RX450h 2015/Materials/ReverseLight.mat
  Assets/AWSIM/Models/Vehicles/Lexus RX450h 2015/Materials/Window.mat
  Assets/AWSIM/Prefabs/Environments/Nishishinjuku/Nishishinjuku RandomTraffic.prefab
  Assets/AWSIM/Prefabs/Vehicles/Lexus RX450h 2015 Sample Sensor.prefab
  Assets/AWSIM/Scenes/Main/AutowareSimulation.unity
  Assets/AWSIM/Scripts/Environments/TrafficLight.cs
  Assets/AWSIM/Scripts/Vehicles/VehicleVisualEffect.cs
  Assets/AWSIM/URP Presets/Presets/LightingSettings.lighting
  Assets/AWSIM/URP Presets/Presets/SceneProfile.asset
  Assets/AWSIM/URP Presets/Presets/Skybox_Mat.mat
  Assets/AWSIM/URP Presets/Presets/Skybox_Mat.mat.meta
  ProjectSettings/QualitySettings.asset
  docs/GettingStarted/SetupUnityProject/index.md
Labels: bug, tag:deploy-docs

#54 feat: enable side lidars and adjust positions
  Assets/AWSIM/Prefabs/Vehicles/Lexus RX450h 2015 Sample Sensor.prefab
Labels: bug, enhancement

#59 docs: release v1.0.0 beta
  ProjectSettings/ProjectSettings.asset
  README.md
  docs/GettingStarted/QuickStartDemo/index.md
  docs/GettingStarted/SetupUnityProject/index.md
  docs/index.md
  mkdocs.yml
Labels: documentation, tag:deploy-docs

#60 docs: fix the index release link
  docs/index.md
Labels: documentation, tag:deploy-docs

#62 docs: fix pcd lanelet files link
  docs/GettingStarted/QuickStartDemo/index.md
Labels: bug, documentation, tag:deploy-docs
