Repository autowarefoundation/AWSIM-Labs, pull requests merged in 2024-07, with the labels that each got.

#94 feat: dynamic-start-position
  Assets/AWSIM/Scenes/Main/AutowareSimulation.unity
  Assets/AWSIM/Scripts/Vehicles/Vehicle.cs
  Assets/AWSIM/Scripts/Vehicles/VehicleRosInput.cs
Labels: enhancement

#106 fix: snap BEV camera on switch
  Assets/AWSIM/Scripts/UI/BirdEyeView.cs
Labels: enhancement

#105 fix: ui timescale bar reparent & minor ui adjustments
  Assets/AWSIM/Scenes/Main/AutowareSimulation.unity
Labels: enhancement

#101 feat: Unity LTS 2022.3.36f1
  Packages/manifest.json
  Packages/packages-lock.json
  ProjectSettings/ProjectVersion.txt
  docs/GettingStarted/SetupUnityProject/image_0.png
  docs/GettingStarted/SetupUnityProject/image_1.png
  docs/GettingStarted/SetupUnityProject/image_10.png
  docs/GettingStarted/SetupUnityProject/image_11.png
  docs/GettingStarted/SetupUnityProject/image_12.png
  docs/GettingStarted/SetupUnityProject/image_13.png
  docs/GettingStarted/SetupUnityProject/image_2.png
  docs/GettingStarted/SetupUnityProject/image_3.png
  docs/GettingStarted/SetupUnityProject/image_4.png
  docs/GettingStarted/SetupUnityProject/image_5.png
  docs/GettingStarted/SetupUnityProject/image_6.png
  docs/GettingStarted/SetupUnityProject/image_7.png
  docs/GettingStarted/SetupUnityProject/image_7_.png
  docs/GettingStarted/SetupUnityProject/image_8.png
  docs/GettingStarted/SetupUnityProject/image_9.png
  docs/GettingStarted/SetupUnityProject/image_9_.png
  docs/GettingStarted/SetupUnityProject/index.md
Labels: enhancement, tag:deploy-docs

#118 feat: spawn npc from rviz
  Assets/AWSIM/Scenes/Main/AutowareSimulation.unity
  Assets/AWSIM/Scripts/NPCs/RvizNPCSpawner.meta
  Assets/AWSIM/Scripts/NPCs/RvizNPCSpawner/NPCMovement.cs
  Assets/AWSIM/Scripts/NPCs/RvizNPCSpawner/NPCMovement.cs.meta
  Assets/AWSIM/Scripts/NPCs/RvizNPCSpawner/RVIZNPCSpawner.cs
  Assets/AWSIM/Scripts/NPCs/RvizNPCSpawner/RVIZNPCSpawner.cs.meta
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher__rosidl_generator_c.so
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher__rosidl_generator_c.so.meta
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher__rosidl_generator_py.so
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher__rosidl_generator_py.so.meta
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher__rosidl_typesupport_c.so
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher__rosidl_typesupport_c.so.meta
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher__rosidl_typesupport_cpp.so
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher__rosidl_typesupport_cpp.so.meta
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher__rosidl_typesupport_fastrtps_c.so
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher__rosidl_typesupport_fastrtps_c.so.meta
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher__rosidl_typesupport_fastrtps_cpp.so
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher__rosidl_typesupport_fastrtps_cpp.so.meta
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher__rosidl_typesupport_introspection_c.so
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher__rosidl_typesupport_introspection_c.so.meta
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher__rosidl_typesupport_introspection_cpp.so
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher__rosidl_typesupport_introspection_cpp.so.meta
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher_initial_state__rosidl_typesupport_c_native.so
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher_initial_state__rosidl_typesupport_c_native.so.meta
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher_initial_state__rosidl_typesupport_fastrtps_c_native.so
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher_initial_state__rosidl_typesupport_fastrtps_c_native.so.meta
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher_initial_state__rosidl_typesupport_introspection_c_native.so
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher_initial_state__rosidl_typesupport_introspection_c_native.so.meta
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher_object__rosidl_typesupport_c_native.so
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher_object__rosidl_typesupport_c_native.so.meta
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher_object__rosidl_typesupport_fastrtps_c_native.so
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher_object__rosidl_typesupport_fastrtps_c_native.so.meta
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher_object__rosidl_typesupport_introspection_c_native.so
  Assets/Ros2ForUnity/Plugins/Linux/x86_64/libdummy_perception_publisher_object__rosidl_typesupport_introspection_c_native.so.meta
  Assets/Ros2ForUnity/Plugins/dummy_perception_publisher_assembly.deps.json
  Assets/Ros2ForUnity/Plugins/dummy_perception_publisher_assembly.deps.json.meta
  Assets/Ros2ForUnity/Plugins/dummy_perception_publisher_assembly.dll
  Assets/Ros2ForUnity/Plugins/dummy_perception_publisher_assembly.dll.meta
  ProjectSettings/DynamicsManager.asset
  ProjectSettings/TagManager.asset
  docs/Components/Traffic/NPCs/RvizNPCSpawner/image-1.png
  docs/Components/Traffic/NPCs/RvizNPCSpawner/image-2.png
  docs/Components/Traffic/NPCs/RvizNPCSpawner/image.png
  docs/Components/Traffic/NPCs/RvizNPCSpawner/index.md
  docs/Components/Traffic/NPCs/RvizNPCSpawner/rvizspawner.png
  docs/Components/Traffic/NPCs/RvizNPCSpawner/spawnPedestrian.gif
  docs/Components/Traffic/NPCs/RvizNPCSpawner/toolsprop.png
  mkdocs.yml
Labels: type:new-feature, tag:deploy-docs

#120 docs: fix ss2 section
  Assets/3DModels/WP2Models/SignBoard/Materials/SignBoard.mat
  Assets/AWSIM/Prefabs/Sensors/CameraSensor.prefab
  Assets/AWSIM/Prefabs/Vehicles/Lexus RX450h 2015 Sample Sensor.prefab
  Assets/AWSIM/Scenes/Main/AutowareSimulation.unity
  Assets/AWSIM/Scenes/Main/AutowareSimulationScenarioSimulator.unity
  Assets/AWSIM/Scripts/UI/UICameraBridge.cs
  Assets/ScenarioSimulatorConnector/Script/ScenarioSimulatorRequestProcessor.cs
  ProjectSettings/TagManager.asset
  docs/Components/Environment/AddNewEnvironment/AddEnvironment/index.md
  docs/Components/ScenarioSimulation/PreparingTheConnectionBetweenAWSIMAndScenarioSimulator/index.md
  docs/Components/ScenarioSimulation/SetupUnityProjectForScenarioSimulation/index.md
  docs/GettingStarted/UsingOpenSCENARIO/index.md
Labels: type:documentation, tag:deploy-docs
